[submodule "external-pkgs/classical-domains"]
	path = external-pkgs/classical-domains
	url = https://github.com/AI-Planning/classical-domains.git
[submodule "external-pkgs/pyBehaviourSortsSuite"]
	path = external-pkgs/pyBehaviourSortsSuite
	url = https://github.com/MFaisalZaki/pyBehaviourSortsSuite.git
